<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Jobs</title>
  </head>
  <body>
    <h1>Add Job/Application:</h1>
    <!-- Make all the options one a drop down selectable list -->
    <p>
      1.Company Name 2.Location(remote/hybrid/onsite)
      3.Status(Applied/Interview/Offer/Rejected) 4.Application Date 5.Job Link
      6.Notes
    </p>
    <form action="/jobs/add" method="post">
      <!-- 1. Company Name Input -->
      <div class="form_group">
        <label for="company_name">Company Name:</label>
        <input
          type="text"
          name="company_name"
          placeholder="e.g. Google"
          required
        />
      </div>
      <!-- 2. Job Location -->
      <div class="form_group">
        <label for="job_location">Job Location:</label>
        <select id="job_location" name="job_location" required>
          <option value="" disabled selected hidden>Select...</option>
          <option value="on-site">On-Site</option>
          <option value="remote">Remote</option>
          <option value="hybrid">Hybrid</option>
        </select>
      </div>
      <!-- 5. application date -->
      <div class="form_group">
        <label for="app_date">Application Date:</label>
        <input type="date" name="date" required />
      </div>
      <!-- 4. Status Dropdown -->
      <div class="form_group">
        <label for="status">Application Status:</label>
        <select id="status" name="status" required>
          <option value="" disabled selected hidden>Select...</option>
          <option value="applied">Applied</option>
          <option value="interview">Interview</option>
          <option value="offer">Offer</option>
          <option value="rejected">Rejected</option>
        </select>
      </div>
      <div class="form_group">
        <label for="job_link">Job Link:</label>
        <input type="text" name="link" placeholder="eg. google.com" />
      </div>
      <div class="form_group">
        <label for="notes">Notes:</label>
        <input
          type="text"
          name="notes"
          placeholder="eg. priority of application"
        />
      </div>
      <button type="submit">Add Job</button>
    </form>
  </body>
</html>
