<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Jobs</title>
  </head>
  <body>
    <h1>Add Job/Application:</h1>
    <!-- Make all the options one a drop down selectable list -->
    <p>
      1.Company Name 2.Location(remote/hybrid/onsite)
      3.Status(Applied/Interview/Offer/Rejected) 4.Application Date 5.Job Link
      6.Notes
    </p>
  </body>
</html>
