<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard:</h1>
    <p>
      shows and tracks VISUAL DATA of the current jobs and have features to CRUD
      jobss <br />
      Dashboard: 1.Total application 2.Status wise count 3.Recent applications
      4.Pie chart 5.Sort by company/date 6.Search by company/date 7.Filter by
      Status(Applied/Offer/Interview etc)
    </p>
    <h1>Create or Add job :</h1>
    <p>button on top right</p>
    <h1>Del and Update job:</h1>
    <p>
      buttons next to every job<br />
      update on a popup instead of redirect and delete on same Page
    </p>

    <a href="/create-job">Add Job</a>
    <a href="/update-job">Update job</a>
    <a href="/delete-job">Delete Job</a>
  </body>
</html>
