<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <!--Dashboard: Shows and tracks the current jobs and 
   have features to CRUD jobs-->
    <a href="/create-job">Add Job</a>
    <a href="/update-job">update-job</a>
    <a href="/delete-job">Add Job</a>
  </body>
</html>
